// Social buttons styles
.social-button
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0 12px 0 43px;
  font-size: 14px;
  font-weight: 700;
  border-radius(3px);
  background-position: 16px 8px;
  background-repeat: no-repeat;
  background-size: auto 23px;
  color: #ffffff;
  text-decoration: none;

  // Facebook social button
  &__facebook
    background-color: #3e5b96;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAWCAQAAABTL8XWAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAB4SURBVBjT1Y6xDQIxEATnX59A8k7oip5ogwrogVo+RTKhST4ApCE4WwJhCmCS0612V4uIuPNothLS7OIbIR78YAJgT2NhhXC2tnMkRwA21ZfjjHQYLMBcvwcr8Bz0y5h78UtPvGIyeauTTiaT24kCtN475eekfxFfgTJf3BxEzqgAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTYtMDUtMjFUMjE6Mjc6MjQrMDA6MDB8dBVdAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE2LTA1LTIxVDIxOjI3OjI0KzAwOjAwDSmt4QAAAABJRU5ErkJggg==");
    background-size: 10px;
    &:hover
      background-color: #385388;

  // Google Plus social button
  &__google
    background-color: #dd5342;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAWCAQAAACftv89AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAGsSURBVDjLdZMxaFRBEIY/7k44Q/AeMaSUEyyiaFIqnGCwkVSCoBwWFqKImCKNhYXFgYWgIAiaxjRp0qmFiIVIQBERBTEICnZ6IKgY8UEMF/NZ3L5373Kbf4rdnd2P3ZmdQYIddMG2/Xqb7xasO5S97aBeu2drpAssWLPu4wAsWYoBXWRS1Y41Ebf5JkDjcaQEnACgzW8AOrTo6jCZEo4zni1KwAgAOykH37MwVnPkDA+5U0Q+AzDMseDrhPEjxVPl4uJ+OHSTGgBHAVjOb9ukCvCFq1wH9vKcFmVuAN9ossEQYxCeXqUOwJ8sDzOuFH7kk7tFfBT5rbVe8nbYdC64zwffgwiS9uf8UHB/d1LEiomJiVfUF2FereRRTdAIr4VRXnKORdZZAWAV8nkomGnfR57QzG+fVZeKBdNSdd17TrvPhvMB+eH2PDn6tIecUnXVRiGmk66peiSsh51yVw95p+rdTcV3S9XT8bKc6CuSTD8BSKPf71dVf/W105Af1NQk3i8X8mAvu9+6BzzrsqoXt26xGdOBBP/1UhzIGnnUWZ/Y9p+a+sprvfwM2n8OhScsWdn0CgAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxNi0wNS0yMVQyMToyNTo0OCswMDowMHlOppMAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTYtMDUtMjFUMjE6MjU6NDgrMDA6MDAIEx4vAAAAAElFTkSuQmCC");
    &:hover
      background-color: #cd4c3c;